.botao{
    background-color: #1a8918;
    color: #fff;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
    width: 120px;
    font-weight: bold;
    border: none;
    padding: 10px 15px;
    font-size: 1em;
    text-decoration: none;
}
.botao:hover {
    background-color: #0f490e;
    color: white;
}
.container-about {
    height: 70vh;
}
